.light-theme #services{
    background: #effcff;
  }
.services__top_content{
    text-align: center;
    margin-bottom: 50px;

}
.services__bottom_content{
display: flex;
align-items: center;
justify-content: center;
column-gap: 2rem;

}

.services__bottom_item{
    background:var(--card-bg);
    width: 25%;
    padding: 30px 15px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

  .light-theme .services__bottom_item{
    box-shadow: 5px 5px 15px -5px #999;
  }
  

.service__icon{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--icon-bg);
    margin-bottom: 20px;
    border: 1px solid var(--primary-color);
}
.light-theme .service__icon{
    background: var(--primary-color);
}
.light-theme .service__icon i{
    color: #fff;
}

.service__icon i{
    font-size: 2.5rem;
    color: var(--primary-color);
    
}
.service__title{
    color: var(--primary-color);
    font-size: 1.3rem;
    margin-bottom: 10px;

}
